In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
print(os.getcwd())

c:\Users\user\Desktop\KIFIYA Projects\TellCo-Week-02\notebooks

In [4]:
import psycopg2
# Load environment variables from the .env file
load_dotenv()
 # Retrieve the environment variables
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
# # Construct the connection string
connection_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
# Create the engine
engine = create_engine(connection_string)

In [8]:
# Check whether the data fetched or not

query = """
SELECT * FROM xdr_data; """
data = pd.read_sql_query(query, engine)

data.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [12]:
import sys
sys.path.append(r'C:\Users\user\Desktop\KIFIYA Projects\TellCo-Week-02\scripts')

# Now import your custom module functions
import satisfaction_analysis

In [13]:
import importlib
import satisfaction_analysis

importlib.reload(satisfaction_analysis)

# Satisfaction Analysis

In [14]:
# Import the function from the module
from satisfaction_analysis import replace_missing_values_and_outliers

# Assuming 'data' is your DataFrame
cleaned_data = replace_missing_values_and_outliers(data)

In [15]:
from satisfaction_analysis import aggregate_engagement_metrics, aggregate_experience_metrics

engagement_data = aggregate_engagement_metrics(cleaned_data)
experience_data = aggregate_experience_metrics(cleaned_data)
engagement_data

,IMSI,session_frequency,total_duration,total_download,total_upload
0,2.040471e+14,1,869844.0,78697597.0,60456049.0
1,2.040808e+14,1,877385.0,194828056.0,37295915.0
2,2.082001e+14,1,86019.0,31376981.0,53794658.0
3,2.082001e+14,1,86254.0,392918313.0,33583272.0
4,2.082001e+14,2,573923.0,961767023.0,71325004.0
...,...,...,...,...,...
107260,2.082099e+14,1,127367.0,688815403.0,33888182.0
107261,2.082099e+14,1,168543.0,451173021.0,44692550.0
107262,2.082099e+14,1,86399.0,307825104.0,30355487.0
107263,2.082522e+14,1,56613.0,800629358.0,45083854.0
107264,2.140743e+14,1,226790.0,637123579.0,57382080.0

In [16]:
merged_data = pd.merge(engagement_data, experience_data, left_on='IMSI', right_on='IMSI')
merged_data

,IMSI,session_frequency,total_duration,total_download,total_upload,avg_tcp_retransmission,avg_rtt,avg_throughput
0,2.040471e+14,1,869844.0,78697597.0,60456049.0,2.156957e+07,127.458589,2.0
1,2.040808e+14,1,877385.0,194828056.0,37295915.0,2.156957e+07,127.458589,1.0
2,2.082001e+14,1,86019.0,31376981.0,53794658.0,7.623557e+05,303.000000,109.0
3,2.082001e+14,1,86254.0,392918313.0,33583272.0,2.797900e+04,84.000000,754.0
4,2.082001e+14,2,573923.0,961767023.0,71325004.0,2.156957e+07,92.000000,80.5
...,...,...,...,...,...,...,...,...
107260,2.082099e+14,1,127367.0,688815403.0,33888182.0,2.156957e+07,127.458589,15.0
107261,2.082099e+14,1,168543.0,451173021.0,44692550.0,2.156957e+07,127.458589,15.0
107262,2.082099e+14,1,86399.0,307825104.0,30355487.0,7.967047e+05,47.000000,878.0
107263,2.082522e+14,1,56613.0,800629358.0,45083854.0,2.156957e+07,127.458589,2.0
107264,2.140743e+14,1,226790.0,637123579.0,57382080.0,2.156957e+07,58.000000,7.0

In [17]:
from satisfaction_analysis import normalize_and_cluster, assign_scores

# Assuming 'engagement_data' is your DataFrame
engagement_data, scaler, kmeans = normalize_and_cluster(engagement_data, n_clusters=3)
engagement_centroids = kmeans.cluster_centers_
engagement_centroid = engagement_centroids[0]  # Select the relevant centroid

# Define experience_centroid based on previous analysis
experience_centroid = np.array([2.156957e+07, 127.458589, 2.0])  # Example centroid

# Assign scores to the merged data
merged_data = assign_scores(merged_data, engagement_centroid, experience_centroid)

In [18]:
def compute_satisfaction_score(data):
    data['satisfaction_score'] = data[['engagement_score', 'experience_score']].mean(axis=1)
    return data

merged_data = compute_satisfaction_score(merged_data)

In [19]:
from satisfaction_analysis import compute_satisfaction_score

# Compute the satisfaction score
merged_data = compute_satisfaction_score(merged_data)

In [20]:
from satisfaction_analysis import (build_regression_model)

# Build the regression model
model, mse = build_regression_model(merged_data)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 1.6968701811787718e-14

In [21]:
from satisfaction_analysis import (run_kmeans_clustering)
# Run K-means clustering
merged_data = run_kmeans_clustering(merged_data, n_clusters=2)
merged_data

,IMSI,session_frequency,total_duration,total_download,total_upload,avg_tcp_retransmission,avg_rtt,avg_throughput,engagement_score,experience_score,satisfaction_score,cluster
0,2.040471e+14,1,869844.0,78697597.0,60456049.0,2.156957e+07,127.458589,2.0,9.924214e+07,2.936835e+00,4.962107e+07,0
1,2.040808e+14,1,877385.0,194828056.0,37295915.0,2.156957e+07,127.458589,1.0,1.983677e+08,3.102418e+00,9.918383e+07,0
2,2.082001e+14,1,86019.0,31376981.0,53794658.0,7.623557e+05,303.000000,109.0,6.227670e+07,2.080721e+07,4.154196e+07,0
3,2.082001e+14,1,86254.0,392918313.0,33583272.0,2.797900e+04,84.000000,754.0,3.943509e+08,2.154159e+07,2.079463e+08,0
4,2.082001e+14,2,573923.0,961767023.0,71325004.0,2.156957e+07,92.000000,80.5,9.644083e+08,8.618693e+01,4.822042e+08,0
...,...,...,...,...,...,...,...,...,...,...,...,...
107260,2.082099e+14,1,127367.0,688815403.0,33888182.0,2.156957e+07,127.458589,15.0,6.896485e+08,1.332760e+01,3.448243e+08,0
107261,2.082099e+14,1,168543.0,451173021.0,44692550.0,2.156957e+07,127.458589,15.0,4.533812e+08,1.332760e+01,2.266906e+08,0
107262,2.082099e+14,1,86399.0,307825104.0,30355487.0,7.967047e+05,47.000000,878.0,3.093182e+08,2.077287e+07,1.650455e+08,0
107263,2.082522e+14,1,56613.0,800629358.0,45083854.0,2.156957e+07,127.458589,2.0,8.018977e+08,2.936835e+00,4.009489e+08,0
107264,2.140743e+14,1,226790.0,637123579.0,57382080.0,2.156957e+07,58.000000,7.0,6.397024e+08,6.969980e+01,3.198513e+08,0

In [22]:
# Aggregate Score Per Cluster
from satisfaction_analysis import (aggregate_scores_per_cluster)

cluster_agg = aggregate_scores_per_cluster(merged_data)
print(cluster_agg)

   cluster  satisfaction_score  experience_score
0        0        2.504379e+08      8.255198e+06
1        1        7.481506e+08      9.338497e+06

In [25]:
import mysql.connector

def export_to_mysql(data, db_config):
    connection = mysql.connector.connect(
        host=db_config['host'],
        user=db_config['user'],
        password=db_config['password'],
        database=db_config['database']
    )

    cursor = connection.cursor()

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS user_scores (
        user_id VARCHAR(255),
        engagement_score FLOAT,
        experience_score FLOAT,
        satisfaction_score FLOAT,
        PRIMARY KEY (user_id)
    )
    """)

    for index, row in data.iterrows():
        cursor.execute("""
        INSERT INTO user_scores (user_id, engagement_score, experience_score, satisfaction_score)
        VALUES (%s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE
            engagement_score = VALUES(engagement_score),
            experience_score = VALUES(experience_score),
            satisfaction_score = VALUES(satisfaction_score)
        """, (row['IMSI'], row['engagement_score'], row['experience_score'], row['satisfaction_score']))

    connection.commit()
    cursor.close()
    connection.close()

# Configuration for MySQL database
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'eyor1234',
    'database': 'satdb'
}

export_to_mysql(merged_data, db_config)